@model Art_fundingV0.Models.photo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>

<script language="javascript">
    function add() {
        input = jQuery('<input name="filesToUpload" type="file"><br />');
        var size = jQuery("[name='filesToUpload']").length;
        if (size < 10) {
            jQuery("#div").append(input);
        } else {
            alert("Vous ne pouvez pas enregistrer plus de 10 photos !!");
        }
    }

</script>
</head>
<body>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    @using (Html.BeginForm("remplirphoto", "UserArtiste", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>picture</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.photo1, htmlAttributes: new { @class = "control-label col-md-2" })
                <div id="div" class="col-md-10">
                    <input name="filesToUpload" type="file"><br />
                    <input name="filesToUpload" type="file"><br />
                    <input name="filesToUpload" type="file"><br />
                    

                </div><br />
                <a href="#" onclick="add()">+</a><br /><br />
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
