@model Art_fundingV0.Models.document_entreprise

    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
    </head>
    <body>
        <form id="form1" runat="server">
            <h2>Vous y êtes presque, cette étape prendra 2 minutes :)</h2>


            <div class="container-fluid">
            <h3>Kbis</h3>
            <asp:Label ID="LabelKbis" runat="server" Text="Kbis"></asp:Label>
            <input id="Filekbis" type="file" />
            </div>

            <div class="container-fluid">
                <h3>Derniers statuts</h3>
                <asp:Label ID="Labelderniersstatuts" runat="server" Text="Derniers statuts"></asp:Label>
                <input id="Filederniersstatuts" type="file" />
            </div>

            <div class="container-fluid">
                    <h3>Attestation d'assurance</h3>
                    <asp:Label ID="Labelattestationdelasociete" runat="server" Text="Attestation d'assurance de la sociéte"></asp:Label>
                    <input id="Fileattestationassurancedelasociete" type="file" />
            </div>

            <div class="container-fluid">
                <h3>RIB</h3>
                <asp:Label ID="Labelrib" runat="server" Text="RIB"></asp:Label>
                <input id="Filerib" type="file" />
            </div>

            <input id="CheckboxExact" type="checkbox" />
            <p>Je certifie l'exactitude des documents</p>
            <asp:Button ID="Buttonpasseraupaiement" runat="server" Text="Passer au paiement" OnClick="Buttonpasseraupaiement_Click" />
        </form>
    </body>
</html>