@model Art_fundingV0.Models.entreprise
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />*@
    <title>Inscription</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>

            <asp:ListView ID="ListView1" runat="server"></asp:ListView>



            <div id="conteneur">
                <div class="element 1"> </div>
                <div class="element 2">Element </div>
            </div>


            <ul>
                <li>
                    @Html.LabelFor(m => m.denomination_Commerciale)
                    @Html.TextBoxFor(m=>m.denomination_Commerciale)

                    <asp:Label ID="LabelDC" runat="server" Text="Dénomination Commerciale"></asp:Label>
                    <asp:TextBox ID="TextBoxDC" runat="server"></asp:TextBox>

                    <asp:Label ID="LabelRS" runat="server" Text="Raison Sociale"></asp:Label>
                    <asp:TextBox ID="TextBoxRS" runat="server"></asp:TextBox>
                </li>
                <li>
                    <asp:Label ID="Labelsiret" runat="server" Text="SIRET"></asp:Label>
                    <asp:TextBox ID="TextBoxsiret" runat="server"></asp:TextBox>
                    <asp:RegularExpressionValidator ID="RegularExpressionValidator3"
                                                    runat="server"
                                                    ErrorMessage="Veuillez entrer svp un numéro de SIRET à 14 chiffres (SIREN+NIC)"
                                                    ControlToValidate="TextBoxsiret"
                                                    ValidationExpression="^[0-9]{14}$"
                                                    ForeColor="Red">

                    </asp:RegularExpressionValidator>
                    <asp:Label ID="Labelprenom" runat="server" Text="Prénom de l'ayant droit"></asp:Label>
                    <asp:TextBox ID="TextBoxprenom" runat="server"></asp:TextBox>
                </li>
                <li>
                    <asp:Label ID="Labelnom" runat="server" Text="Nom de l'ayant droit"></asp:Label>
                    <asp:TextBox ID="TextBoxnom" runat="server"></asp:TextBox>
                    <asp:Label ID="Labelfonction" runat="server" Text="Fonction au sein de l'entreprise"></asp:Label>
                    <asp:TextBox ID="TextBoxfonction" runat="server"></asp:TextBox>
                </li>
                <li>
                    <asp:Label ID="Labeladresse" runat="server" Text="Adresse"></asp:Label>
                    <asp:TextBox ID="TextBoxadresse" runat="server"></asp:TextBox>
                    <asp:Label ID="Labelcodepostale" runat="server" Text="Code Postale"></asp:Label>
                    <asp:TextBox ID="TextBoxcodepostale" runat="server"></asp:TextBox>
                </li>
                <li>
                    <asp:Label ID="Labelville" runat="server" Text="Ville"></asp:Label>
                    <asp:TextBox ID="TextBoxville" runat="server"></asp:TextBox>
                    <asp:Label ID="Labelpays" runat="server" Text="Pays"></asp:Label>
                    <asp:TextBox ID="TextBoxpays" runat="server"></asp:TextBox>
                </li>
                <li>
                    <asp:Label ID="Labelemail" runat="server" Text="E-mail"></asp:Label>
                    <asp:TextBox ID="TextBoxemail" runat="server"></asp:TextBox>
                    @*<asp:RegularExpressionValidator ID="RegularExpressionValidator2"
                                                    runat="server"
                                                    ErrorMessage="Veuillez entrer svp une adresse mail au formatxxx@xxx.xx"
                                                    ControlToValidate="TextBoxemail"
                                                    ValidationExpression="^\w+([-+.']\w+)\w+([-.]\w+)*\.\w+([-.]\w+)*$"
                                                    ForeColor="Red">

                    </asp:RegularExpressionValidator>*@
                    <asp:Label ID="Labelnumero" runat="server" Text="Numero de téléphone"></asp:Label>
                    <asp:TextBox ID="TextBoxnumero" runat="server"></asp:TextBox>
                </li>
                <asp:RegularExpressionValidator ID="RegularExpressionValidator1"
                                                runat="server"
                                                ErrorMessage="Veuillez entrer svp un numéro de téléphone à 10 chiffres !"
                                                ControlToValidate="TextBoxnumero"
                                                ValidationExpression="^[0-9]{10}$"
                                                ForeColor="Red">

                </asp:RegularExpressionValidator>
            </ul>
        </div>
        
        <div>
            <asp:Button ID="Button1" runat="server" Text="Button" OnClick="Button1_Click" />
        </div>

    </form>
</body>
</html>
