
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>hello rgeg</p>
        <a href="/userEntreprise/Index">Se connecter en tant qu'entreprise</a><br />
        <a href="/userArtiste/Index">Se connecter en tant qu'artiste</a>
    </div>
</body>
</html>
