@model  Art_fundingV0.Models.utilisateurentreprise
@{
    Layout = "~/Views/Shared/LayoutIndexEntreprise.cshtml";
}
<div class="container-sm mt-5 text-center">
    <button class="btn btn-secondary" style="margin-left: 80%; color: #ffc107; font-size: 30px; border-color: #ffc107; border-radius: 5px; border-width: 7px;"> @Html.ActionLink("Ma Boîte à artistes", "Index", "BoiteArtiste") </button>
</div>
<div class="container" style="text-align: center; margin-top: 13em; font-family: 'Raleway', sans-serif;">
    <h1>
        L'ART, c'est quand...<br/>
        l'admiration d'une oeuvre suscite en vous :le désir d'en faire autant.
    </h1>
</div>

<div class="container-fluid" id="coverflow" style="margin-top: 8em;">

    <div class="row w-100">
        <div class="col mx-2" style="text-align: center;">
            <img src="~/Content/images/peinture_4.jpg" />
            @using (Html.BeginForm("RechercheArtiste", "SelectionArtiste", new { searchString = "peintre" }, FormMethod.Post))
            {
                <button class="btn btn-link" style="font-size: 22px; text-decoration: none; margin-top: -48%">NOS PEINTRES</button>
            }

        </div>
        <div class="col mx-2" style="text-align: center;">
            <img src="~/Content/images/Photographe.jpg" />
            @using (Html.BeginForm("RechercheArtiste", "SelectionArtiste", new { searchString = "photographe" }, FormMethod.Post))
            {
                <button class="btn btn-link" style="font-size: 22px; color: white; text-decoration: none; margin-top: -48%">NOS PHOTOGRAPHES</button>
            }

        </div>
        <div class="col mx-2" style="text-align: center;">
            <img src="~/Content/images/Designers.jpg" />
            @using (Html.BeginForm("RechercheArtiste", "SelectionArtiste", new { searchString = "designer" }, FormMethod.Post))
            {
                <button class="btn btn-link" style="font-size: 22px; color: white; text-decoration: none; margin-top: -48%">NOS DESIGNERS</button>
            }
        </div>
        <div class="col mx-2" style="text-align: center;">
            <img src="~/Content/images/Styliste.jpg" />
            @using (Html.BeginForm("RechercheArtiste", "SelectionArtiste", new { searchString = "styliste" }, FormMethod.Post))
            {
                <button class="btn btn-link" style="font-size: 22px; color: #FFC107; text-decoration: none; margin-top: -48%">NOS STYLISTES</button>
            }
        </div>
        <div class="col mx-2" style="text-align: center;">
            <img src="~/Content/images/ArtisteMonde.png" />
            @using (Html.BeginForm("RechercheArtiste", "SelectionArtiste", new { searchString = "artisteDuMonde" }, FormMethod.Post))
            {
                <button class="btn btn-link" style="font-size: 22px; color: white; text-decoration: none; margin-top: -48%">NOS ARTISTES<br />DU MONDE</button>

            }
        </div>
        <div class="col mx-2" style="text-align: center;">
            <img style="box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);" src="~/Content/images/Dessinateur.jpg" />
            @using (Html.BeginForm("RechercheArtiste", "SelectionArtiste", new { searchString = "dessinateur" }, FormMethod.Post))
            {
                <button class="btn btn-link" style="font-size: 22px; text-decoration: none; margin-top: -48%;">NOS DESSINATEURS</button>
            }

        </div>

    </div>
</div>





