@model  Art_fundingV0.Models.utilisateurentreprise
@{
    Layout = "~/Views/Shared/LayoutAF.cshtml";
}
<!--   	<img class="center" src="images/imagePrincipale.jpeg">
    <p id="art"><span>art_</span></p>
    <p id="fun">fun</p>
    <p id="ding"><span>ding</span></p> -->
<!-- <h2><span>Transformer l'art en métier</span></h2>
<h3 id="entreprise"><a href="https://fr.wikipedia.org/wiki/entreprise">Entreprise</h3>
<h3 id="artiste"><a href="https://fr.wikipedia.org/wiki/Artiste">Artiste</h3> -->
<div>
    <h1 id="transformez">"Transformez le talent en savoir-faire." <span>Art_Funding</span></h1>
</div>
<!---<img class="center" src="images/principale.jpeg"> -->
<div class="container-fluid" id="coverflow">
    <div class="gallery">
        @using (Html.BeginForm("RechercheArtiste", "SelectionArtiste", new { searchString = "peintre" }, FormMethod.Post))
        {
            <input class="gallery-item" type="image" src="~/Content/images/peinture_4.jpg" />
        }
        <p>Nos peintres</p>
    </div>
    <div class="gallery">
        @using (Html.BeginForm("RechercheArtiste", "SelectionArtiste", new { searchString = "photographe" }, FormMethod.Post))
        {
            <input class="gallery-item" type="image" src="~/Content/images/Photographe.jpg" />
        }
        <p>Nos photographes</p>
    </div>
    <div class="gallery">
        @using (Html.BeginForm("RechercheArtiste", "SelectionArtiste", new { searchString = "designer" }, FormMethod.Post))
        {
            <input class="gallery-item" type="image" src="~/Content/images/Designers.jpg" />
        }
        <p>Nos designers</p>
    </div>
    <div class="gallery">
        @using (Html.BeginForm("RechercheArtiste", "SelectionArtiste", new { searchString = "styliste" }, FormMethod.Post))
        {
            <input class="gallery-item" type="image" src="~/Content/images/Styliste.jpg" />
        }
        <p>Nos stylistes</p>
    </div>
    <div class="gallery">
        @using (Html.BeginForm("RechercheArtiste", "SelectionArtiste", new { searchString = "artiste Du Monde" }, FormMethod.Post))
        {
            <input class="gallery-item" type="image" src="~/Content/images/ArtisteMonde.png" />
        }
        <p>Nos artistes du monde</p>
    </div>
    <div class="gallery">
        @using (Html.BeginForm("RechercheArtiste", "SelectionArtiste", new { searchString = "dessinateur" }, FormMethod.Post))
        {
            <input class="gallery-item" type="image" src="~/Content/images/Dessinateur.jpg" />
        }
        <p>Nos dessinateurs</p>
    </div>
    <!-- <section class="container" id="content">
        <img src="111.jpg">
    </section> -->
</div>





