@model  Art_fundingV0.Models.utilisateurentreprise
@{
    Layout = "~/Views/Shared/LayoutAF.cshtml";
}

    <!--   	<img class="center" src="images/imagePrincipale.jpeg">
        <p id="art"><span>art_</span></p>
        <p id="fun">fun</p>
        <p id="ding"><span>ding</span></p> -->
    <!-- <h2><span>Transformer l'art en métier</span></h2>
    <h3 id="entreprise"><a href="https://fr.wikipedia.org/wiki/entreprise">Entreprise</h3>
    <h3 id="artiste"><a href="https://fr.wikipedia.org/wiki/Artiste">Artiste</h3> -->
    <div>
        <h1 id="transformez">"Transformez le talent en savoir-faire." <span>Art_Funding</span></h1>
    </div>

    <!---<img class="center" src="images/principale.jpeg"> -->
    <div class="container-fluid" id="coverflow">
        <div class="gallery">
            <a href="">
                <img class="gallery-item" src="/Content/images/peinture_4.jpg">
            </a>
            <p>Nos peintres</p>
        </div>
        <div class="gallery">
            <a href="">
                <img class="gallery-item" src="images/2.jpg">
            </a>
            <p>Nos photographes</p>
        </div>
        <div class="gallery">
            <a href="">
                <img class="gallery-item" src="images/5.png">
            </a>
            <p>Nos designers</p>
        </div>
        <div class="gallery">
            <a href="">
                <img class="gallery-item" src="images/3.jpg">
            </a>
            <p>Nos stylistes</p>
        </div>
        <div class="gallery">
            <a href="">
                <img class="gallery-item" src="images/6.jpg">
            </a>
            <p>Nos artistes du monde</p>
        </div>
        <div class="gallery">
            <a href="http://google.fr">
                <img class="gallery-item" src="images/1.jpg">
            </a>
            <p>Nos dessinateurs</p>
        </div>

        <!-- <section class="container" id="content">
            <img src="111.jpg">
        </section> -->

    </div>






