@model  Art_fundingV0.ViewModels.CreerEntrepriseViewModel
@{
    Layout = "~/Views/Shared/LayoutAF.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>paiement</title>
</head>
<body>
    @using (Html.BeginForm())
    {

        //page accueil d'entreprise de Maria


    }
</body>
</html>
