
@{
    Layout = "/Views/Shared/LayoutUA.cshtml";
}
<div>
    <div>
        <h1>Voici la Liste de nos partenaires</h1>
    </div>
    <div class="container" >
        <div class="row" style="width : 2000px ; font-size: 22px;">
            <div class="col-3" style=" background-color : white ; border : double; border-color : black;">
                <h2>Ici, la liste des écoles</h2>
                <ul>
                    <li> FAIAR:Formation supérieur d'art en espace public</li>
                    <li>Ecole Boulle ,Paris</li>
                    <li> Ecole nationale supérieure des Beaux-arts de Paris</li>
                    <li>  Ecole Nationale des Beaux-Arts de Lyon</li>
                    <li>  École des Beaux</li>
                    <li>   Arts de Versailles</li>
                    <li>   ESMOD</li>
                    <li>   ISCOM</li>
                    <li>   ESPUB</li>
                    <li>  CNAM</li>
                    <li>  École nationale supérieure d'arts et métiers</li>
                </ul>
</div>
            <div class="col-3" style=" background-color : white ; border : double; border-color : black;">
                <h2>Voici les sites partenaires</h2>
                <div class="row">
                    <a href="https://www.boredpanda.com/"><img src="~/Content/images/Partenaire/Bored panda.jpg" Style="width : 200px" alt="Boredpanda"></a>
                    <a href="https://www.sortlist.fr/"><img src="~/Content/images/Partenaire/source-logo.png" Style="width : 300px" alt="SortList"></a>
                    <a href="https://www.lacitedesartsdelarue.net/"><img src="~/Content/images/Partenaire/logoCAR.png" Style="width : 170px" alt="La cité des arts de la rue"></a>
                    <a href="https://artsandculture.google.com/"><img src="~/Content/images/Partenaire/Google_arts_culture.jpg" Style="width : 250px" alt="Google art & culture"></a>
                    <a href="https://noealz.com/"><img src="~/Content/images/Partenaire/Noealz.png" Style="width : 200px" alt="Noealz photo"></a>
                </div>
</div>
                <div class="col-3" style=" background-color : white ; border : double; border-color : black;">
                    <h2>Et voici les banques qui soutienne Art-Funding</h2>
                    <ul>
                        <li> Société général</li>
                        <li> BNP Paribas</li>
                        <li>  LCL</li>
                        <li>  Crédit Agricole</li>
                        <li>  CIC</li>
                        <li>  Axa Art</li>
                        <li>   Overstone</li>
                        <li>   Edmond de Rothchild</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


