
@{
    Layout = "/Views/Shared/LayoutUA.cshtml";
}
<div>
    <h1>Qui somme nous ?</h1>
    <div style="font-size: 22px;">
        <div class="row">
                <p>
                    Art_funding une start-up a la volonté de mettre en relation les jeunes talents "bruts" et
                    les entreprises.
                </p>
                <p>
                    L'objectif est d'offrir aux artistes une chance d'exposer leurs talents à travers un
                    portfolio et de se voir financer leur formation par une entreprise.
                </p>
                <p>
                    Cette application permettra aux entreprises de trouver de jeunes talents "bruts".
                    L'idée est venu du constat qu'une majorité de jeunes talents autodidactes
                </p>
                <p>
                    abandonnent leurs rêves et talents du fait de ne pas pouvoir financer leurs formations
                    et trouver un employeur. Ils s'orientent vers des métiers dits "plus classiques".
                    Une autre problématique est que des entreprises peinent à chasser de nouveaux
                    talents.
                </p>
                <p>
                    Cette application est une plateforme de crowdfunding qui financera les formations
                    grâce aux fonds des entreprises qui auront besoin de leurs talents.
                </p>
        </div>
    </div>
</div>

