@{
    Layout = "~/Views/Shared/LayoutAF.cshtml";
}
<div>
    <h1>Vue projets d'artiste</h1>
    @using (Html.BeginForm("RechercheArtiste", "SelectionArtiste", FormMethod.Post))
    {
        <p>
            <span>Recherche:</span> <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </p>
    }
    <div class="container">
        <div class="row">
            @foreach (var artiste in Model)
            {
                <div class="col-3">
                    <div class="card m-1">
                        <img src="~/Content/images/Art Otter.png" class="card-img" alt="ImageArtiste">
                        <div class="card-body">
                            <div>
                                <h5 class="card-title">@artiste.nom @artiste.prenom @artiste.categorie.nom</h5>
                                <p class="card-text">@artiste.Disponibilite.</p>
                                <a href="/BoiteArtiste/Portfoliu?idArtiste=@artiste.idartiste" class="btn btn-primary stretched-link">Voir le projet</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>