    @{
        Layout = "~/Views/Shared/LayoutAF.cshtml";
    }
<div>
    <h1>Vue projets d'artiste</h1>
    <div>
        @foreach (var artiste in Model)
        {
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">    
                        <div class="col-4"> 
                            <h5 class="card-title">@artiste.nom @artiste.prenom @artiste.categorie.nom</h5>
                            <p class="card-text">@artiste.Disponibilite.</p>
                            <a href="#" class="btn btn-primary stretched-link">Voir le projet</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div>

    </div>

</div>