@model Art_fundingV0.Models.utilisateurentreprise
@{
    Layout = "~/Views/Shared/LayoutAF.cshtml";
}
<h1>Bienvenue sur mon DashBoard</h1>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Artistes contactés</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Dossiers de financement</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">En formation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">Messagerie</a>
    </li>
</ul>
