@model Art_fundingV0.Models.utilisateurentreprise
@{
    Layout = "~/Views/Shared/LayoutAF.cshtml";
}

    <div>
        <h1>Bienvenue sur mon DashBoard</h1>
    </div>
    <div class="BoiteAtriste">
        <a href="http://google.com">Ma boite à Artiste</a>
    </div>
    <div>
        <a href="http://google.com">Artiste Contactés</a>
        <a href="http://google.com">Dossier de financement</a>
        <a href="http://google.com">En formation</a>
        <a href="http://google.com">Messagerie</a>
    </div>

