@model Art_fundingV0.ViewModels.DossierFinancementViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EtapeDossiersFinancement</title>
</head>
<body>
    <div>
        @*@Html.LabelFor(m => m.documentArtiste.artiste.)*@
    </div>
</body>
</html>
