@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TéléchargerDossierFinancement</title>
</head>
<body>
    <div>
        Félicitation, vous pouvez télécharger le dossier de financement

        <a title="telechargercontrat" href="~/Content/DocPdf/Contrat Entreprise et Artiste.pdf"> ICI</a>
    </div>
</body>
</html>