@import url('styleAjouterContratecole.css');
body {
    height: 80%;
    background-image: url('../Content/images/jasmine-coro-3NgnoYlNKdk-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

fullscreen-bg {
    /*overflow: hidden;*/
    z-index: -100;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 45%;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.overlay {
    /*background: rgba(0,0,0,0.6);*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}



#artF {
    font-family: 'HYPED_Font', sans-serif;
    font-size: 3em;
}

#connecte {
    text-decoration: line-through;
}

a {
    color: white;
    text-decoration: none;
}


#transformez {
    color: #343a40; /*#FFB30F;*/ /*#F9B21A;*/
    font-size: 3em;
    font-family: 'Bungee Shade', cursive;
}

    #transformez span {
        color: red;/*#304dbe; синий */ /* #ec5b2e; приятный красный      #ad2b1d; темно=красный*/
        font-size: 1.8em;
    }

/*  D R O P D O W N   M E N U  */
#artFunding {
    color: white;
    /*padding: 16px;*/
    /*font-family:  'Roboto Slab', serif;/* 'Raleway';*/
    font-family: 'HYPED_Font', sans-serif;
    font-size: 1.3em;
    border: none;
}

    #artFunding:hover {
        color: #ECAF2E;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 0.4em;
    padding-top: 0.5em;
    background-color: none;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;*/
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ECAF2E;
            color: white;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* E N D   D R O P D O W N   M E N U  */

.row {
    width: 100%;
}

.col {
    /*display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;*/
}

.input-group {
    margin-top: 0.5em;
}


i {
    color: #FFB30F;
    font-size: 1.3em;
    justify-content: space-around;
    text-decoration: none;
}

.navbar i {
    color: white;
}

#etape1 {
    margin-top: 4.3em;
    margin-bottom: 2em;
}


/*.container-fluid, .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}*/

h1 {
    text-align: center;
    margin-top: 5%;
}


#galerie {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

a:hover, i:hover {
    text-decoration: none;
    color: #FFB30F; /*ECAF2E;*/ /*#13b2be;*/ /*#2e5dab;*/ /*#1a4a96;*/ /*#7aeef6;*/ /*#007bff;*/
}

.footer {
    position: fixed;
    width: 100%;
    height: 3em;
    bottom: 0;
    background-color: #262C30; /*#141719;*/ /*#1E2832;*/ /*#2C2730;*/ /*#48414F;*/ /*#241631;*/ /*#2C3A49;*/ /*#455872;*/ /*#0B0E12;*/ /*#232d50;*/ /*#372d2b;*/
    color:white;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.icons {
    /*margin: 0.5em;*/
}

#icon1, #icon2, #icon3, #icon4 {
    margin: 0.5em;
    font-size: 1.3em;
}

#etapesuivante p {
    font-size: !important 27px;
}

#briefcase {
    font-family: 'Consolas', sans-serif;
    font-size: 45px;
    color: red;
    margin-right: -9em;
    margin-top: 6em;
}

#palette {
    font-size: 45px;
    color: red;
    margin-right: -9em;
    margin-top: 8em;
}

#art_f{
    /*font-family: 'HYPED_Font', sans-serif;*/
}

@font-face {
    font-family: 'Stronger';
    src: url('../fonts/Stronger.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'HYPED_Font';
    src: url('../fonts/HYPED_Font.otf') format('opentype');
}