body {
    height: 80%;
    background-image: url('../Content/images/gemma-evans-IAKIkREkRzY-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


.fullscreen-bg {
    z-index: -100;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 45%;
}

#coverflow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

img {
    width: 16em;
    margin: 0.25em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    transition-duration: 1s;
}

    img:hover {
        width: 18em;
        margin-top: -3em;
        z-index: 1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
    }

/*.overlay {
   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    }*/


#gradient {
    text-align: center;
    color: black;
    font-size: 52px;
    margin-top: 9px;
}






#artF {
    font-family: 'HYPED_Font', sans-serif;
    font-size: 2.2em;
}

#connecte {
    text-decoration: line-through;
}

a {
    color: white;
    text-decoration: none;
}

/*  D R O P D O W N   M E N U  */

#artFunding {
    color: white;
    /*padding: 16px;*/
    /*font-family:  'Roboto Slab', serif;/* 'Raleway';*/
    font-family: 'HYPED_Font', sans-serif;
    font-size: 1.3em;
    border: none;
}

    #artFunding:hover {
        color: #ECAF2E;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 0.4em;
    padding-top: 0.5em;
    background-color: none;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;*/
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ECAF2E;
            color: white;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* E N D   D R O P D O W N   M E N U  */


i {
    color: white;
    font-size: 1.3em;
    justify-content: space-around;
    text-decoration: none;
}

.navbar i {
    color: white;
}




a:hover, i:hover {
    text-decoration: none;
    color: #FFB30F;
}

.footer {
    position: fixed;
    width: 100%;
    height: 3em;
    bottom: 0;
    background-color: #262C30; /*#141719;*/ /*#1E2832;*/ /*#2C2730;*/ /*#48414F;*/ /*#241631;*/ /*#2C3A49;*/ /*#455872;*/ /*#0B0E12;*/ /*#232D50;*/ /*#372D2B;*/
    /*color: rgba(255, 255, 255, 0.75);*/
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.icons {
    margin: 0.5em;
}

#icon1, #icon2, #icon3, #icon4 {
    margin: 0.5em;
    font-size: 1.3em;
 
}


.gallery {
    height: 25em;
}

@font-face {
    font-family: 'HYPED_Font';
    src: url('../fonts/HYPED_Font.otf') format('opentype');
}

@font-face {
    font-family: 'Raleway-Italic';
    src: url('../fonts/Raleway-Italic.ttf') format('truetype');
}