@{

    Layout = "~/Views/Shared/LayoutSuccesMessage.cshtml";
   
}

<div class="container text-center" style="margin-top: 11%;">
    <h1><span style="color: white;">MERCI.</span><br /> Votre m<span style="color: white;">essage a bien été e</span>nvoyé !</h1>
</div>